.first-part {
  padding: 48px;
  background-color: white;

}
.consultror-btn {
  width: 296px;
  height: 44px;
  background: #C989DD;
  color: white;
  border: none;
}
.consultror-div {
  justify-content: flex-end;
    display: flex;

}
.heading-c {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
color: #303030;
font-size: 32px;
}
.p-custom {
  font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #AAAAAA;

}
.second-part {
  background: #F8F8F8;
  padding: 50px;
}
.second-part-h {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #6DC0F9;
}
.ul-custom {
  list-style-type: none;
  padding: 0;
}
.span-alaphabat {
  padding-left: 40px;
  color: #303030;
  font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
}
.p-alpha {

  color: #303030;
  font-family: Avenir Next LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.third-part {

  padding:   20px 45px;
  background-color: white;
}
.copyright {
  font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;

color: #303030;
}
.logo {
  font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: 600;
font-size: 27.1515px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;

color: #9E58FF;
}
.link-btn {
  border: none;
  background: transparent;
}
.link-div {
  display: flex;
  justify-content: flex-end;
}
